body {
    text-align: center;
    margin: 1em 0 0 0;
    vertical-align: middle;
    font-family: 'Lucida Console', 'Courier New';
    font-size: 26pt;
    font-style: normal;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
    word-spacing: 0;
    line-height: 1.2;
}
#content {
    width: 760px;
    text-align: left;
    margin: 1em auto;
}
.quote {
    height: 200px;
}
.permalink {
    font-size: 50%;
    color: #ddd;
}
.permalink a {
    text-decoration: none;
    color: inherit;
}
.permalink a:hover {
    text-decoration: underline;
}